<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-12">
      <h1 class="mat-display-1" style="padding: 0; margin: 0;">All Orders</h1>
    </div>
    <div class="col-xs-10 col-sm-8" *ngIf="!showSpinner">
      <mat-form-field style="width: 100%;">
        <input type="text" matInput placeholder="Search" (keyup)="applyFilter($event.target.value)"
         autocomplete="off">
        <mat-icon matSuffix>filter_list</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;" [hidden]="showSpinner">

        <!-- Sr no -->
        <ng-container matColumnDef="srno">
          <th mat-header-cell *matHeaderCellDef>Sr no</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
        </ng-container>

        <!-- orderId -->
        <ng-container matColumnDef="orderId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Id</th>
          <td mat-cell *matCellDef="let element">{{element.orderId}}</td>
        </ng-container>

        <!-- order status -->
        <ng-container matColumnDef="orderStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Status</th>
          <td mat-cell *matCellDef="let element">{{element.orderStatus}}</td>
        </ng-container>

        <!-- payment mode -->
        <ng-container matColumnDef="paymentMethod">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Mode</th>
          <td mat-cell *matCellDef="let element">{{element.paymentMethod}}</td>
        </ng-container>

        <!-- payment status -->
        <ng-container matColumnDef="paymentStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Status</th>
          <td mat-cell *matCellDef="let element">{{element.paymentStatus}}</td>
        </ng-container>

        <!-- Orderdate -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date | date: 'dd/MM/yyyy'}}</td>
        </ng-container>


        <!-- details -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef>Order Details</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="onClickDetails(element)">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- total price -->
        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
          <td mat-cell *matCellDef="let element">{{element.totalPrice | currency:"₹"}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [ngStyle]="{'display': showSpinner? 'none' : ''}"></mat-paginator>
      <mat-spinner style="margin: 50px auto;" *ngIf="showSpinner"></mat-spinner>
    </div>
  </div>
</div>
